* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    border: none;
    padding: 18px 35px;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
section{

}
/* header and navigation style */
nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner style */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    line-height: 61px;
    margin-bottom: 20px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

/* main section*/
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */

.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
}

.section-description {
    margin: 30px 0px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}
/* what i do */
.what-i-do{
    margin-top: 130px;
}
.skill {
    background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
    padding: 30px;
}
.skill-detail {
    margin: 40px 0;
    text-align: center;
}
.skills-container{
    display:flex;
    gap: 24px;
}
.skill-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin: 30px 0 20px 0;
}

/* resume section */
.resume {
    margin-top: 130px;
}
.resume .title{
    font-weight: 700;
font-size: 25px;
line-height: 34px;
}
.resume .sub-title{
    font-weight: 600;
font-size: 20px;
line-height: 27px;
color: #757575;
margin: 10px 0 20px 0;
}
.resume .description{
    color: #757575;
}
.resume-content{
    display: flex;
    gap: 24px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-btn{
    text-align: center;
    margin-top: 50px;
}
/* contact section */
.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;
}
.contact input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding-left: 30px;
}
input{
    height: 64px;
}.contact a{
    text-decoration: none;
}
.section-description{
    margin: 15px 0;
}