* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    border: none;
    padding: 18px 35px;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header and navigation style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* banner style */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    line-height: 61px;
    margin-bottom: 20px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

/* main section*/
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */

.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
}

.section-description {
    margin: 30px 0px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}